{% extends "orders.html" %}
{% block title %} CafeSystem | Удаление всех столов {% endblock %}
{% block nav-orders %}active{% endblock %}
{% block page-name %} Вы собираетесь удалить все заказы {% endblock %}
{% block content %}
<div class="row">
    <div class="container mb-3">
        {% if orders %}
        <p>Показаны 1-10 записей</p>
        <div class="row mb-3">
            <div class="tab-content table-responsive">
                <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Стол</th>
                <th scope="col">Статус</th>
                <th scope="col">Цена</th>
                <th scope="col">Продуктов</th>
                <th scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
            <tr class="{% if not order.is_maintenance %}order-secondary{% endif %}">
                <th scope="row">{{order.id}}</th>
                <td>{{order.table_number}}</td>
                <td>{{order.get_status_display}}</td>
                <td>{{order.total_price}} ₽</td>
                <td>{{order.items.all|length}}</td>
                <td class="auto-width">{{order.description}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
        {% endif %}
        <h4><span class="badge badge-primary">
            Кол-во записей: <span class="badge badge-light">{{data_length}}</span>
            <span class="sr-only">Кол-во записей: </span>
        </span></h4>
    </div>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input id="agreeCheck" type="checkbox"
                       onchange="document.getElementById('agree').disabled = !this.checked;"/>
                <label for="agreeCheck">Я подтверждаю, что это действие нельзя отменить!</label>
            </div>
            <button type="submit" id="agree" class="btn btn-danger" disabled>Удалить</button>
            <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}