{% extends "base.html" %}
{% block title %} CafeSystem {% endblock %}
{% block nav-orders %}active{% endblock %}
{% block page-name %} Заказ #{{order.id}} {% endblock %}
{% block content %}
<div class="row mb-3">
    <div class="btn-group float-left" role="group">
        <a class="btn btn-primary" href="{{request.META.HTTP_REFERER}}" role="button">Назад</a>
        <a class="btn btn-secondary" href="{% url 'order-update' order.id %}" role="button">Изменить</a>
    </div>
</div>
<div class="row mb-3 d-flex justify-content-between">
    <div class="row float-left">
        <h4>
            <span class="badge badge-secondary">
            Стол: <span class="badge badge-light">{{order.table_number}}</span>
            <span class="sr-only">Стол: </span>
        </span>
            <span class="badge badge-secondary"> Статус:
        {% if order.status == "PENDING" %}
            <span class="badge badge-warning">В ожидании</span>
        {% elif order.status == "COMPLETED" %}
        <span class="badge badge-primary">Готово</span>
        {% elif order.status == "PAID" %}
        <span class="badge badge-success">Оплачено</span>
        {% endif%}
                <span class="sr-only">Стол: </span>
        </span>
        </h4>
        {% if order.description %}
        <div class="card">
            <div class="card-header">
                Описание:
            </div>
            <div class="card-body">
                <p class="card-text">{{order.description}}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="btn-group float-right" role="group">
        {% if order.status == "PENDING" %}
        <a class="btn btn-warning" role="button">В ожидании</a>
        <a class="btn btn-outline-primary" href="{% url 'order-complete' order.id %}" role="button">Готово</a>
        <a class="btn btn-outline-success" href="{% url 'order-pay' order.id %}" role="button">Оплачено</a>
        {% elif order.status == "COMPLETED" %}
        <a class="btn btn-outline-warning" href="{% url 'order-pending' order.id %}" role="button">В ожидании</a>
        <a class="btn btn-primary text-white" role="button">Готово</a>
        <a class="btn btn-outline-success" href="{% url 'order-pay' order.id %}" role="button">Оплачено</a>
        {% elif order.status == "PAID" %}
        <a class="btn btn-outline-warning" href="{% url 'order-pending' order.id %}" role="button">В ожидании</a>
        <a class="btn btn-outline-primary" href="{% url 'order-complete' order.id %}" role="button">Готово</a>
        <a class="btn btn-success text-white" role="button">Оплачено</a>
        {% endif%}
    </div>
</div>
<div class="row mb-3">
    <div class="tab-content table-responsive">
        <h3>Список заказов:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Наименование</th>
                <th scope="col">Кол-во</th>
                <th scope="col">На складе</th>
                <th scope="col">Цена единицы</th>
                <th scope="col">Оптовая цена</th>
                <th scope="col">Описание</th>
            </tr>
            </thead>
            <tbody>
            {% for product in order.order_items.all %}
            <tr class="{% if not order.is_maintenance %}order-secondary{% endif %}">
                <th scope="row">{{product.product.id}}</th>
                <td>{{product.product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.product.quantity}}</td>
                <td>{{product.product.price}} ₽</td>
                <td>{{product.product.base_price}} ₽</td>
                <td class="auto-width">{{product.product.description}}</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">{{order.total_price}} ₽</th>
                <th scope="col">{{order.total_base_price}} ₽</th>
                <th scope="col"></th>
            </tr>
            </tbody>
        </table>
    </div>
    <div role="group">
        <a class="btn btn-outline-danger" href="{% url 'order-remove' order.id %}" role="button">Отменить заказ</a>
        <a class="btn btn-danger" href="{% url 'order-remove' order.id %}" role="button">Удалить</a>
    </div>
</div>
{% endblock %}
