{% extends "base.html" %}
{% block title %} CafeSystem {% endblock %}
{% block nav-index %}active{% endblock %}
{% block page-name %} Dashboard {% endblock %}
{% block content %}
<div class="row gx-4 justify-content-start mb-3">
    {% if tables %}
    <!--
    Если есть столики. То отображаем все
    !-->
    {% for table in tables %}
    <div class="col-lg-4 col-md-12 mb-4">
        <!--
        Выбираем цвета(классом) для статуса стола и заказов
        !-->
        <div class="card h-100
        {% if not table.is_maintenance %}
            border-danger
        {% elif table.order %}
            {% if table.order.status == 'PENDING' %}
                border-warning
            {% elif table.order.status == 'COMPLETED' %}
                border-primary
            {% elif table.order.status == 'PAID' %}
                border-success
            {% endif %}
        {% endif %}
        ">
            <!--
            Отображаем в card-header id, название, и кол-во стульев
            !-->
            <div class="card-header">
                <h5 class="card-title">
                    <span class="badge badge-secondary">{{table.id}}</span> {{table.name}}
                    <span class="badge badge-secondary float-right">
                        Мест: <span class="badge badge-light">{{table.chairs_counts}}
                    </span>
                    <span class="sr-only">Мест: </span>
                    </span>
                </h5>
                <!--
                Если стол не обслуживает, то отображаем красным.
                !-->
                {% if not table.is_maintenance %}
                <h6 class="card-subtitle mb-2 text-danger"><span class="badge badge-danger">Стол не обслуживает</span>
                </h6>
                <!--
                Если стол обслуживает, то проверяем на наличия заказа(order)
                !-->
                {% elif table.order %}
                <h6 class="card-subtitle mb-2">
                        <span class="badge
                                        {% if table.order.status == 'PENDING' %}
                                            badge-warning
                                        {% elif table.order.status == 'COMPLETED' %}
                                            badge-primary
                                        {% elif table.order.status == 'PAID' %}
                                            badge-success
                                        {% endif %}
                        ">{{table.order.get_status_display}}</span>
                </h6>
                {% else %}
                <!--
                В противном случае стол свободен
                !-->
                <h6 class="card-subtitle mb-2"><span class="badge badge-secondary">Свободен</span></h6>
                {% endif %}
            </div>
            <div class="card-body d-flex flex-column h-100">
                <!--
                Отображение описание стола и кнопок в зависимости от стола и статуса заказа.
                !-->
                {% if not table.is_maintenance %}
                <p class="card-text">
                    {{table.description}}
                    <br>
                    <small class="text-muted">Обслуживание стола отключено в настройках.</small>
                </p>
                <div>
                    <a class="btn btn btn-success btn-sm" href="{% url 'table-enable' table.id %}">
                        Включить
                    </a>
                </div>
                <!--
                Если есть заказ. То отображаем первые 5 заказов. Если 5 и более, то отображаем ссылку на подробнее.
                !-->
                {% elif table.order %}
                <div class="card-text">
                    <ul class="list-group mb-3">
                        {% for product in table.order.order_items.all|slice:":5" %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{product.product.name}}
                            <span class="badge badge-secondary float-right">
                        {{product.product.price}} ₽ <span class="badge badge-light">x{{product.quantity}}
                    </span>
                    <span class="sr-only">{{product.product.price}} ₽ </span>
                    </span>
                        </li>
                        {% endfor %}
                        {% if table.order.order_items.all|length > 5 %}

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{% url 'order' table.order.id %}">
                                Еще продуктов...</a>
                            <span class="badge badge-primary float-right">
                                <!--
                                Подсчет оставшихся продуктов для отображения кол-ва неотображаемых продуктов.
                                !-->
                        {% with total_items=table.order.order_items.all|length %}
                            {% with remaining=total_items|add:-5 %}
                                {{ remaining }}
                            {% endwith %}
                        {% endwith %}
                    </span>
                        </li>
                        {% endif %}
                    </ul>
                    <p class="h4 mb-3 d-flex flex-row-reverse">
                    <span class="badge badge-info float-right">
                        Итого: <span class="badge badge-light">{{table.order.total_price}} ₽
                    </span>
                    <span class="sr-only">Итого: </span>
                </span>
                    </p>
                </div>
                <!--
                Генерируем кнопки быстрого действия для заказов(в зависимости от статуса заказа).
                !-->
                <div class="mt-auto justify-content-between">
                    <a class="btn btn btn-primary btn-sm" href="{% url 'order' table.order.id %}">
                        Подробнее
                    </a>
                    {% if table.order.status == "PENDING" %}
                    <a class="btn btn btn-outline-primary btn-sm" href="{% url 'order-complete' table.order.id %}">
                        Готово
                    </a>
                    <a class="btn btn btn-outline-danger btn-sm" href="{% url 'order-remove' table.order.id %}">
                        Отменить
                    </a>
                    {% elif table.order.status == "COMPLETED" %}
                    <a class="btn btn btn-outline-info btn-sm" href="{% url 'order-pay' table.order.id %}">
                        Оплачено
                    </a>
                    <a class="btn btn btn-outline-danger btn-sm" href="{% url 'order-remove' table.order.id %}">
                        Удалить
                    </a>
                    {% elif table.order.status == "PAID" %}
                    <a class="btn btn btn-outline-danger btn-sm" href="{% url 'order-remove' table.order.id %}">
                        Удалить
                    </a>
                    {% endif %}
                </div>

                {% else %}
                <!--
                Если нет заказа. То отображаем описание стола и 2 кнопки +заказ или отключение стола.
                !-->
                <p>
                    {{ table.description }}
                </p>
                <div>
                    <a class="btn btn btn-success btn-sm" href="{% url 'order-create' %}#id_table_number={{table.id}}">
                        + Заказ
                    </a>
                    <a class="btn btn btn-outline-danger btn-sm" href="{% url 'table-disable' table.id %}">
                        Отключить
                    </a>
                </div>
                {% endif %}

            </div>
            <div class="card-footer">
                <!--
                Отображение последнего действия.
                Если стол пустой, то дата изменения стола.
                Если там заказ. То последнее изменение заказа.
                !-->
                <small class="text-muted">Обновлено:
                    {% if table.order %}
                    {{table.order.modified_date}}
                    {% else %}
                    {{table.modified_date}}
                    {% endif %}
                </small>
            </div>
        </div>
    </div>
    {% endfor %}
    <!--
    Если нет столиков. Предложить создать столик
    !-->
    {% else %}
    <div class="alert alert-warning" role="alert">
        Отсутствуют столы! <a href="{% url 'table-create'  %}">Создайте стол</a>!
    </div>
    {% endif %}
</div>
{% endblock %}
