{% extends "tables.html" %}
{% block title %} CafeSystem | Удалить столик {% endblock %}
{% block nav-tables %}active{% endblock %}
{% block page-name %} Вы собираетесь удалить: "{{table.name}}" {% endblock %}
{% block content %}
<div class="row">
    <div class="container mb-3">
        <!--
        Отображение номер стола, наименование, и количество стульев
        !-->
        <h4><span class="badge badge-secondary">#{{table.id}}</span> {{table.name}} </h4>
        <h4><span class="badge badge-primary">
            Кол-во стульев: <span class="badge badge-light">{{table.chairs_counts}}</span>
            <span class="sr-only">Кол-во стульев: </span>
        </span></h4>
        <!--
        Если есть описание, то отобразить
        !-->
        {% if table.description %}
        <div class="card">
            <div class="card-header">
                Описание:
            </div>
            <div class="card-body">
                <p class="card-text">{{table.description}}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <!--
    Форма подтверждения удаления
    !-->
    <div class="container">
        <form action="{% url 'table-delete' table.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input id="agreeCheck" type="checkbox"
                       onchange="document.getElementById('agree').disabled = !this.checked;"/>
                <label for="agreeCheck">Я подтверждаю, что это действие нельзя отменить!</label>
            </div>
            <button type="submit" id="agree" class="btn btn-danger" disabled>Удалить</button>
            <a class="btn btn-secondary" href="{{request.META.HTTP_REFERER}}">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}